<md-toolbar class="md-hue-1 md-primary">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button md-button md-ink-ripple">
      <i class="material-icons white">history</i>
      <md-tooltip md-direction="left">
        Shows the log of all changes inside the system
      </md-tooltip>
    </md-button>
    <h2>
      <span>Changes history</span>
    </h2>
    <span flex></span>
  </div>
</md-toolbar>
<md-content>
  <md-list>
    <md-list-item class="md-3-line">
      <helper-random-photo></helper-random-photo>
      <div class="md-list-item-text">
        <h3>Broadband</h3>
        <h4>new-copper-mocoY</h4>
        <p>09 December 14:55 - 145 changes has been made</p>
      </div>
      <md-button class="md-secondary md-warn">Awaiting approval</md-button>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item class="md-3-line">
      <helper-random-photo></helper-random-photo>
      <div class="md-list-item-text">
        <h3>broadband-packages</h3>
        <h4>copy change</h4>
        <p>02 December 10:20 - 5 changes has been made</p>
      </div>
      <md-button class="md-secondary md-success">Deployed</md-button>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item class="md-3-line">
      <helper-random-photo></helper-random-photo>
      <div class="md-list-item-text">
        <h3>tv-packages</h3>
        <h4>copy change</h4>
        <p>01 December 12:05 - 10 changes has been made</p>
      </div>
      <md-button class="md-secondary md-success">On hold</md-button>
    </md-list-item>
    <md-divider></md-divider>
  </md-list>
</md-content>

